.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
    0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-flow: row wrap;
  margin-left: 200px;
  margin-right: 200px;
}
.value {
  padding: 30px;
}
body {
  font-size: 22px;
  font-family: Georgia, serif;
  background-color: #021202;
  background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png");
}

h1,
h2 {
  text-align: center;
  font-weight: 400;
  font-family: Papyrus;
}

h1 {
  font-size: 5.2rem;
}
.neonMO, .desc {
  color: white;
  font-size: 1.25rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

td {
  display: flex;
  justify-content: end;
}

.numberForm {
  color: #fff;
  text-align: center; /* Aligns text and input boxes in the center */
}

footer {
  color: #fff;
}

.dataEntr {
  color: #fff;
}

input {
  color: black;
}

button {
  color: black;
  display: block; /* Ensures the button takes up the full width */
  margin: 0 auto; /* Centers the button horizontally */
}

button {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  background: transparent;
  text-shadow: 0px 1px 0px #f7f7f7;
  color: #ffffff;
  font-size: 15px;
  padding: 12px;
  border: solid #f0d6ff 2px;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
    0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}

button:hover {
  background: #0c2766;
  background-image: -webkit-linear-gradient(top, #0c2766, #003dc2);
  background-image: -moz-linear-gradient(top, #0c2766, #003dc2);
  background-image: -ms-linear-gradient(top, #0c2766, #003dc2);
  background-image: -o-linear-gradient(top, #0c2766, #003dc2);
  background-image: linear-gradient(to bottom, #0c2766, #003dc2);
  text-decoration: none;
}

.TotalRemainingDisp {
  text-align: center;
}

.outro {
  color: white;
  text-align: center;
}

.FutureValueDisp {
  color: black;
  text-align: center;
}

.YearSliderContainer {
  text-align: center;
  margin-top: 20px;
}

.YearSlider {
  width: 30%;
  display: inline-block;
}

.footer {
  font-size: 15px;
  color: rgb(44, 142, 200);
}

input {
  outline: none;
  background-color: #ffffff;
  color: #4811f9;
  margin:  4px;
  border-radius: 6px;
}

.slideContainer {
  color: black;
  margin: 4rem 12rem;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
}

#YearCount {
  color: black;
}